body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a:link, a:visited {
    text-decoration: none;
    color: inherit;
}
:root {

    --blue1: #F7F7FF;
    --blue2: #8a95ff;
    --blue3: #2E2EF0;
    --blue4: #333392;
    --blue5: #000047;

    --gray1: #F2F2FF;
    --gray2: #D7D7E2;
    --gray3: #B9B9C3;
    --gray4: #84848B;
    --gray5: #303033;


}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    display: none;
    z-index: 99;
}


header {
    z-index: 100;
    position: fixed;
    width: 100%;
    background-color: white;
}
.topNav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 3fr;
    border-bottom: 2px solid var(--blue2);
    width: 100%;
    height: 52px;
    top: 0px;
    z-index: 100;
}
.menuSection {
    grid-column: 1 / 2;
    /*border: 2px solid blue;*/
    margin-left: 10px;
    display: flex;
}
.logoSection {
    grid-column: 3 / 4;
    display: flex;
    /*border: 2px solid green;*/
    align-items: center;
    justify-content: center;
}
.logoSection h1{
    margin: 0;
}
.subpagesSection {
    display: none;
    align-items: center;
    justify-content: end;
    margin-right: 30px;
    font-size: 1.4rem;

}
.subpagesSection a {
    padding-right: 50px;
}

.sideNav {
    height: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    top: 63px;
    z-index: 100;
}
.sideNavSub {
    display: flex;
    border-bottom: 1px solid var(--blue2);
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 1.4em;
}
.sideNavSub:hover {
    cursor: pointer;
    background-color: gainsboro;
    transition: 0.2s;
}

main
{
    padding-top: 54px;
    /*border: 2px solid red;*/
    background-color: var(--blue1);
}
header .logo {
    height: 30px;
    cursor: pointer;
    transition: opacity 0.2s;
}
header .menuIcon{
    font-size: 25px;
    cursor: pointer;
    transition: opacity 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuIcon:hover, header .logo:hover {
    opacity: 0.7;
}


.subHeader{
    padding: 1em;
    background: linear-gradient(to bottom, var(--blue2) 20%, var(--blue1) 100%);

    margin-bottom: 1em;
    padding-bottom: 5em;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 65% 100%, 35% 100%, 0 50%);

}
.subHeader img {
    height: 200px;
}


.mapRegion {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vw - 40px);
}
.sidepanel {
    flex-basis: 0;
}

#map {
    height: 100%;
    width: 100%;
    border: 2px solid var(--blue2);
    border-radius: 5px;
    z-index: 1;
    flex: 2;
}

@media screen and (min-width: 768px) {
    .menuSection {
        display: none;
    }
    .logoSection {
        grid-column: 1 / 2;
    }
    .subpagesSection {
        display: flex;
        grid-column: 2 / 5;
    }

    #map
    {
        width: 50vw;
        height: 100%;

    }
    .mapRegion
    {
        flex-direction: row;
        height: 50vw;
    }
}
